.click-here{
    cursor: pointer;
    background-image: linear-gradient(190deg,#f83600 0%,#fee140 100%);
    color: #fff;
    width:180px;
    text-align: center;
    font-size: 16px;
    padding: 18px;
    margin: auto;
    
}
.click-here:hover{
    transition: background-image 3s ease-in-out;
    background-image: linear-gradient(90deg,#fee140 05,#f83600 100%);
}
body{
    background-color: lightseagreen;
    background-image: url(facebook1.jpg);
    border-radius: 5px;
    border: 1px solid #ddd;
}
form{
    border-radius: 5px;
    border: 1px salmon#ddd;
}
image{
    float: left;
    height: 100PX;
    border-image-width: auto;
    width:100PX
}
li{
    float:right;
    display: block;
   padding: 8px 16px;
    color :darkblue;
}
h1{
    color:lightgray;
    text-align: center;
}
p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    color: aqua;
    clear: right;
}
.nav ul{
    color: aqua;
    height: auto;
    background-color: rgb(187, 255, 0);
    border-radius: 1px ;
}
UL{
    background-color: #f83600;
    color: #fff;
}
